#favicon{
   float:left;
   width: 4em;

}

/* body { change the background color of the pages
    background-color: #04AA6D; test test
} */

.navbar-left-list{
  width: 50%;
}

.navbar-left-list ul {
    list-style-type: none;
    margin: 1px;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  .navbar-left-list li {
    margin:5px;
    float: left;
  }
  
  .navbar-left-list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .subnav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* width: 100%; */
  }
  
  .subnav-bar li {
    float: left;
    border-right: 1px solid #bbb;
  }

  .subnav-bar li:last-child {
    border-right: none;
  }
  
  .subnav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
    li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }

  .button {
      float: right;
      margin: 10px 10px 10px 10px;
  }

  .button-attributes{
    font-size: 20px;
    cursor: pointer;
  }

  .subnav-bar a:active {
	background:#e35a00;
	color:#fff;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

  #restuarant-list{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  
  #restuarant-list td, #restuarant-list th {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
  }
  
  #restuarant-list tr:nth-child(even){background-color: #f2f2f2;}
  
  #restuarant-list tr:hover {background-color: #ddd;}
  
  #restuarant-list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #restuarant-favorites{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
  }
  
  #restuarant-favorites td, #restuarant-favorites th {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
  }
  
  #restuarant-favorites tr:nth-child(even){background-color: #f2f2f2;}
  
  #restuarant-favorites tr:hover {background-color: #ddd;}
  
  #restuarant-favorites th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #content{
    font-size: large;
  }

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* 
* {
  box-sizing: border-box;
} */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#rating{
  margin-top: 10px;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#homepage-restuarant-path{
  font-size: 20px;
  font-style: italic;
  margin-left: 10px;
}

.profile-panel{
  width: 650px;
  height: 450px;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
}

.profile-pic{
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
}

#add-to-favorites-button{
  margin-bottom: 100px;
  margin-right: 50px;
  float: left;
}

.profile-panel-textbox{
  padding: 5px 5px 5px 5px;
  font-size: 14px;
  margin-top:20px;
  width: 400px;
  height: 100px;
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
}

#profile-panel-write-a-review-button{
  float:left;
}

.restaurant-images-image{
  width: 100px;
  height: 50px;
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
  display:flexbox;
}

#thanks-for-review-message{
  margin: 10px 10px 10px 10px;
}

#review_table {
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid #ddd; */

  /* border-collapse: collapse; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* min-height: 100vh; */
  width: 100%;
}

/* #review_table td:nth-child(3){
  width: 300px;
  /* border-color: #04AA6D; */

/* #review_table td:nth-child(1){
  display: hidden;
  border-color: #04AA6D;
} */

#review_table td:nth-child(3){
  width: 300px;
  /* border-color: #04AA6D; */
}
#review_table th{
  /* border: 1px solid #ddd; */
  padding: 5px;

}

#review_table td {

  padding: 8px;
  height: 20px;
  width: 50px;
  margin: none;

}

#review_table tr {
  /* border: 1px solid black; */
}

#review_table tr:nth-child(even)
{
  background-color: #f2f2f2;
  /* border: 1px solid black; */
}

#review_table tr:hover {background-color: #ddd;}

#review_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#review_t{
  border: 1px solid #ddd;

}


